* {
  padding: 0;
  margin: 0;
}



section {
  width: 100%;
}

#one {
  height: 50vh;
}

#two {
  height: 150vh;
}

#three {
  min-height: 100vh;
  transition: filter .3s ease-in;
}

#thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#thumbnails a {
  width: 30vmin;
  height: 30vmin;
  margin: 1vmin;
  border-radius: 1.5vmin;
}

#thumbnails a img {
  width: 100%;
  height: 100%;
  border-radius: 1.5vmin;
  z-index: 1;
}

#four {
  height: 10vh;
}

.selected #three{
  filter: blur(10px);
  transition: filter .3s ease-out;
}

#images img{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: rgba(0,0,0,.7);
}

.hide {
  z-index: -2;
  opacity: 0;
  transition: z-index 0s .3s, opacity .3s;
}

.show {
  z-index: 2;
  opacity: 1;
  transition: opacity .3s;
}

#close {
  width: 5vw;
  height: 5vw;
  position: fixed;
  background: black;
  top: 0;
  z-index: 3;
}
