* {
  padding: 0;
  margin: 0;
}



body {
  font-family: "Sawarabi Mincho", sans-serif;
}

section {


  width: 100vw;
}

#one {
  height: 50vh;
}

#two {
  height: 150vh;
}

#three {
  min-height: 100vh;
}

#thumbnails{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#thumbnails a {
  width: 30vw;
  height: 30vw;
  margin: 1vw;

}

#thumbnails a img {
  width: 100%;
  height: 100%;
}

#four {
  height: 10vh;
}

#images img{
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

#close {
  width: 5vw;
  height: 5vw;
  position: fixed;
  background: black;
  top: 0;
}
